parameters:
    excludes_analyse:
        - %rootDir%/../../../tests/*
        - %rootDir%/../../../vendor/*
    ignoreErrors:
        - '#Variable \$id might not be defined\.#'
        - '#Variable \$idstamp might not be defined\.#'
        - '#Variable \$day might not be defined\.#'
        - '#Variable \$leapyear might not be defined\.#'
        - '#Variable \$year might not be defined\.#'
        - '#Variable \$offset might not be defined\.#'
        - '#Variable \$masterException might not be defined\.#'
